<%- include ('./dash_include/header.ejs')  %>
<%- include ('./dash_include/dashboard_all.ejs') %>


<div class="main-container">
    <%- include ('./messages/messages.ejs') %>
    <nav class="headering">
        <div class="head_in">
            <P>Mission</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                <a href="">
                    Admin List
                </a>
            </li>
        </ol>
        </div>
        <a href="/admin/dashboard" class="created">Dashboard</a>
    </nav>

    <div class="table_admin">
        <div class="d-name-tag">
            <p>Use this from Create Company Mission</p>
        </div>

        <form action="/admin/create-vision" method="POST" enctype="multipart/form-data" class="formings">
            <div class="form-group">
                <label>Heading:</label>
                <input class="form-control" type="text" placeholder="e.g contact us" name="heading">
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea class="form-control" name="description" ></textarea>
            </div>
            <div class="form-group custom-select">
                <label>Categories:</label>
                <select name="options" class="form-control">
                    <option>Select status</option>
                    <option value="About">About</option>
                    <option value="Mission">Mission</option>
                    <option value="Vision">Vision</option>      
                </select>
            </div>
            <div class="form-group">
                <label for="img">Upload Mission Preview Image</label>
                <input type="file" name="img" id="img" class="form-control-file form-control height-auto" >
            </div>
           
            <div class="form-group">
                <div class="custom-file">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>
