<%- include ('./dash_include/header.ejs')  %>
<%- include ('./dash_include/dashboard_all.ejs') %>


<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Admin Table</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                <span>
                    Add Company info
                </span>
            </li>
        </ol>
        </div>
        <a href="/admin/Dashboard" class="created">Dashboard</a>
    </nav>

    <div class="table_admin">
        <%- include ('./messages/messages.ejs') %>
        <div class="d-name-tag">
            <p>Use this from to create company Information</p>
        </div>

        <form action="/admin/create-info" method="POST" enctype="multipart/form-data" class="formings">
            <div class="form-group">
                <label>Company's Name:</label>
                <input class="form-control" type="text" placeholder="e.g transverse" name="company_name">
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input class="form-control" value="" type="text" name="address">
            </div>
            <div class="form-group">
                <label>Mobile:</label>
                <input class="form-control" value="" type="text" name="mobile">
            </div>
            <div class="form-group">
                <label>Mobile 2:</label>
                <input class="form-control" value="" type="text" name="mobile2">
            </div>
            <div class="form-group">
                <label>Mobile 3:</label>
                <input class="form-control" value="" type="text" name="mobile3">
            </div>
            <div class="form-group">
                <label>Land Phone:</label>
                <input class="form-control" value="" type="text" name="phone">
            </div>
            <div class="form-group">
                <label>WhatsApp Number:</label>
                <input class="form-control" type="text"  name="whatsapp">
            </div>
            <div class="form-group">
                <label>Facebook:</label>
                <input class="form-control" type="text" name="facebook">
            </div>
            <div class="form-group">
                <label>Instagram:</label>
                <input class="form-control" type="text"  name="instagram">
            </div>
            <div class="form-group">
                <label>Twitter:</label>
                <input class="form-control" type="text"  name="twitter">
            </div>
            <div class="form-group">
                <label>Linkedin:</label>
                <input class="form-control" type="text"  name="linkedin">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" value="" type="text" name="email">
            </div>
            <div class="form-group">
                <label>State:</label>
                <input class="form-control" value="" type="text" name="state">
            </div>
            <div class="form-group">
                <label for="img">About image Cover:</label>
                <input type="file" name="img" id="img" class="form-control-file form-control height-auto" >
            </div>
            <div class="form-group">
                <label for="image">Side Image</label>
                <input type="file" name="image" id="img2" class="form-control-file form-control height-auto">
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

    <div class="footering">
        <h3>All rights reserved and Powered by: Transverse Real Estates Solution <i class="fas fa-copyright"></i> 2024</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>
