<%- include ('./dash_include/header.ejs') %>

<div class="headings">

    <div class="imging">
        <img src="https://res.cloudinary.com/dpboq2tck/image/upload/v1718279817/TRANSVERSE_hyo50e.png" alt="" srcset="" width="100">
    </div>
  
    <div class="flex-display">
        <div class="svg_animal">
            <div class="svg_main">
                <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1703789588/one_ng8jbn.png" alt="" srcset="" width="200">
            </div>
        </div>
        <div class="div_form_for_login">
            <%- include ('./messages/messages.ejs') %>
           <h2>Login To Dashboard</h2>
           
            <div class="dove_in">
                <div class="div-admin-P">
                    <button class="login_main_menu"><h2><i class="icon-copy bi bi-briefcase-fill"></i></h2> <h2>Manager</h2></button>
                    <div class="all_over_the_non"> 
                        <form action="/admin/login" method="post">
                            <input type="email" name="email" id="">
                            <input type="password" name="password" id="pass">
                           
                            <div class="forget_pass">
                                
                                <a href="/admin/forget-password">Forget Password?</a> 
                                <i class="fas fa-eye-slash fa-eye" onclick="myFunction()"></i>
                            </div>
                            <input type="submit" value="Sign In">
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footeringing">
        <p>All rights reserved and Powered by: Transverse Limited <i class="fas fa-copyright"></i> 2024</p>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>



<script>
   // Assuming eyeClosed and eyeOpened are arrays of elements
let eyeClosed = document.getElementsByClassName('fa-eye');
let eyeOpened = document.getElementsByClassName('fa-eye-slash');

// Adding a click event listener to each element in the collection
for (let i = 0; i < eyeClosed.length; i++) {
    eyeClosed[i].addEventListener('click', function() {
        // Toggle between 'fa-eye' and 'fa-eye-slash'
        // this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
}

</script>

<script>
    function myFunction() {
    var x = document.getElementById("pass");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>

<style>
    .all_messagesing {
        top: 50%;
    }

    .forget_pass {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .forget_pass a, .forget_pass i {
        color: var(--orange1);
    }
</style>